@media(max-width: 767px){
	.date{
		font-size: 56px;
	}
	.form-block{
		padding: 25px;
		margin: 25px auto;
	}
	.page-title{
		position: static;
		transform: none;
		text-align: center;
		margin-top: 15px;
	}
	.content{
		margin: 25px 0;
	}
}