@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaBold.woff2') format('woff2'),
         url('../fonts/ProximaNovaBold.woff') format('woff'),
         url('../fonts/ProximaNovaBold.ttf') format('truetype'),
         url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
         url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}
@font-face {
    font-family: 'FuturaFuturisCBold';
    src: url('../fonts/FuturaFuturisCBold.eot');
    src: url('../fonts/FuturaFuturisCBold.eot') format('embedded-opentype'),
         url('../fonts/FuturaFuturisCBold.woff2') format('woff2'),
         url('../fonts/FuturaFuturisCBold.woff') format('woff'),
         url('../fonts/FuturaFuturisCBold.ttf') format('truetype'),
         url('../fonts/FuturaFuturisCBold.svg#FuturaFuturisCBold') format('svg');
}
